#copyright(
    class="footerContent container-fluid"
)       
    p &copy; Lyric.io All rights reserved. | Created by 
        a(
        href="https://www.linkedin.com/in/leo-kodish-b83aa712b/"
        target="_blank"
        ) Leo Kodish | 
        span Design by 
        a(
        href="http://templated.co"
        rel="nofollow"
        target="_blank"
        ) TEMPLATED