doctype html
html 
    head
        meta(
            http-equiv="Content-Type" 
            content="text/html; charset=utf-8"
        )
        title Lyrics.io
        include templates/resources.pug
    body
        #header-wrapper
            #header(
                class="container"
            )
                #menu(
                    class="navbar-top"
                )
                    .navBar
                        .centerNav
                            ul
                                li                        
                                    a(
                                        href="/"
                                        title="Homepage"
                                    ) Homepage
                                li
                                    a(
                                        href="/search"
                                        title="Search"
                                    ) Search
                                li(
                                    class="current_page_item"
                                )
                                    a(
                                        href="/contact"
                                        title="Contact Us"
                                    ) Contact Us
                        if(isLoggedIn)
                            include templates/spotifyUser.pug
                .jumbotron
                    .container
                        h1.display-4 Contact
                        hr.my-4
                        p.lead Email: Lyric.io@gmail.com
        include templates/copyright.pug
    include templates/modal.pug
