doctype html
html 
    head
        meta(
            http-equiv="Content-Type" 
            content="text/html; charset=utf-8"
        )
        title Mikashi
        link(
            rel="icon"
            type="image/png"
            href="assets/Mikashi_favicon.png"
        )
        include templates/resources.pug
    body
        #header-wrapper
            #header(
                class="container-fluid"
            )
                #menu(
                    class="navbar-top"
                )
                    .navBar
                        .centerNav
                            ul
                                li                        
                                    a(
                                        href="./"
                                        title="Homepage"
                                    ) Homepage
                                li
                                    a(
                                        href="./search"
                                        title="Search"
                                    ) Search
                                li(
                                    class="current_page_item"
                                )
                                    a(
                                        href="./contact"
                                        title="Contact"
                                    ) Contact
                        if(isLoggedIn)
                            include templates/spotifyUser.pug
                .jumbotron(
                    class="contact-content"
                )
                    .container
                        h1.display-4 Contact
                        hr.my-4
                        p.lead Email: mikashi.app@gmail.com
        include templates/copyright.pug
    include templates/modal.pug
