doctype html
html 
    head
        meta(
            http-equiv="Content-Type" 
            content="text/html; charset=utf-8"
        )
        title Lyrics.io
        include templates/resources.pug
        link(
            rel="stylesheet"
            href="css/template.css"
        )      
        link(
            rel="stylesheet"
            href="css/stylesheet.css"
        )
        link(
            rel="stylesheet"
            href="css/fontawesome/css/all.css"
        )
    body
        #header-wrapper
            #header(
                class="container-fluid"
            )
                #menu(
                    class="navbar-top"
                )
                    .navBar
                        .centerNav
                            ul
                                li(
                                    class="current_page_item"
                                )
                                    a(
                                        href="/"
                                        title="Homepage"
                                    ) Homepage
                                li
                                    a(
                                        href="/prod/search"
                                        title="Search"
                                    ) Search
                                li
                                    a(
                                        href="/prod/contact"
                                        title="Contact"
                                    ) Contact
                        if(isLoggedIn)
                            include templates/spotifyUser.pug
                            include templates/modal.pug
            #logo   
                h1.titleText Lyric.io
                span Automated lyric search for Spotify
        #wrapper1
            #welcome(
                class="container"
            )
                .title
                    h2 Welcome to Lyric.io
                    span(
                        class="byline"
                    ) A Better Way to Get Song Lyrics
                .content
                    p Log in to <strong>Lyric.io</strong> using <strong>Spotify</strong> to automatically find lyrics to the music you're listening to. No more wasting time looking up songs, let Lyric.io do the work for you! Lyric.io is powered by Node.js, utilizes the Spotify Web API, and currently searches for lyrics from <a href="http://www.songlyrics.com/" target="_blank">SongLyrics</a> and <a href="https://genius.com/" target="_blank">Genius</a>
                    p You can also use our song search feature to search for songs without having to log in to Spotify!  
                    if(isLoggedIn)
                        a.button(
                            href="/prod/login"
                        ) Find Lyrics <img src="assets/Spotify_Icon_CMYK_Black.png" class="spotify-logo-png">
                    else 
                        a.button(
                            href="/prod/login"
                        ) Log in with Spotify <img src="assets/Spotify_Icon_CMYK_Black.png" class="spotify-logo-png">
        #wrapper4
            #footer(
                class="container"
            )
                header.title
                    h2 Get in touch
                    span(
                        class="byline"
                    ) Have Questions or Feedback?
                ul.contact
                    li
                        a(
                            href="https://www.linkedin.com/in/leo-kodish-b83aa712b/"
                            class="fa-stack fa-2x "
                            target="_blank"
                        ) 
                            i(
                                class="fas fa-circle fa-stack-2x"                                
                            )
                            i(
                                class="fab fa-linkedin-in fa-stack-1x fa-inverse"
                            )
                    li
                        a(
                            href="https://github.com/leokodish/lyric.io"
                            class="fa-stack fa-2x "
                            target="_blank"
                        ) 
                            i(
                                class="fas fa-circle fa-stack-2x"                                
                            )
                            i(
                                class="fab fa-github fa-stack-1x fa-inverse"
                            )
                    li
                        a(
                            href="mailto:lyric.io@gmail.com"
                            class="fa-stack fa-2x "
                            target="_blank"
                        ) 
                            i(
                                class="fas fa-circle fa-stack-2x"                                
                            )
                            i(
                                class="fas fa-envelope fa-stack-1x fa-inverse"
                            )
        #copyright
            p &copy; Lyric.io. All rights reserved. | Created by <a href="https://www.linkedin.com/in/leo-kodish-b83aa712b/" target="_blank">Leo Kodish</a> | Design by <a href="http://templated.co" rel="nofollow" target="_blank">TEMPLATED                        
