doctype html
html
  head
    title Login
    link(
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    ) 
  body  
    .container
      #login  
        h1 You are not currently playing a song on Spotify!   
        a.btn(
          class="btn-primary"
          type="button"
          href="/updateSong"
        ) Try Again  

