doctype html
html
  head
    title Login
    link(
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    ) 
    link(
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900"
    )
    link(
      rel="stylesheet"
      href="../css/template.css"
    )
    link(
      rel="stylesheet"
      href="../css/fonts.css"
    )
  body(
    class="contentGreenBG"
  )
    #header-wrapper
      #header(
        class="container-fluid navbar-top"
      )  
        #menu
          .navBar
              .centerNav
                  ul
                      li                      
                          a(
                              href="/"
                              title="Homepage"
                          ) Homepage
                      li
                          a(
                              href="/search"
                              title="Search"
                          ) Search
                      li
                          a(
                              href="/contact"
                              title="Contact Us"
                          ) Contact Us
              if(isLoggedIn)
                  .spotifyProfile
                      img(
                          src=spotifyProfileImage
                          class="image-circular"
                          id="userProfileImg"
                          width="250rem"
                          )
                      span.spotify-username 
                          p #{spotifyUsername}
          #logo
            p(
              class="pageMessageLG"
            ) You are not currently playing a song on Spotify! 
            a.btn(
              class="btn-primary btn-lg updateBtn"
              type="button"
              href="/updateSong"
            ) Try Again  
    #copyright(
      class="footerContent container-fluid"
    )
      p &copy; Lyric.io All rights reserved. | Created by 
        a(
          href="https://www.linkedin.com/in/leo-kodish-b83aa712b/"
          target="_blank"
        ) Leo Kodish | 
        span Design by 
        a(
         href="http://templated.co"
          rel="nofollow"
          target="_blank"
        ) TEMPLATED
