doctype html
html
  head
    title Login
    include templates/resources.pug
    link(
    rel="stylesheet"
    href="../css/template.css"
    )
    link(
        rel="stylesheet"
        href="../css/fonts.css"
    )       
    link(
        rel="stylesheet"
        href="../css/stylesheet.css"
    )
  body(
    class="contentGreenBG"
  )
    #header-wrapper
      #header(
        class="container-fluid"
      )  
        #menu(
            class="navbar-top"
        )
          .navBar
              .centerNav
                  ul
                      li                      
                          a(
                              href="../"
                              title="Homepage"
                          ) Homepage
                      li
                          a(
                              href="../search"
                              title="Search"
                          ) Search
                      li
                          a(
                              href="../contact"
                              title="Contact"
                          ) Contact
              if(isLoggedIn)
                  include templates/spotifyUser.pug
          #logo
            p(
              class="pageMessageLG"
            ) You are not currently playing a song on Spotify! 
            a.btn(
              class="btn-primary btn-lg updateBtn"
              type="button"
              href="/prod/updateSong"
            ) Try Again  
    include templates/copyright.pug
  include templates/modal.pug
