doctype html
html 
  head
    title Lyrics.io
    include templates/resources.pug
    link(
    rel="stylesheet"
    href="css/template.css"
    )    
    link(
        rel="stylesheet"
        href="css/stylesheet.css"
    )
  body(
    class="contentGreenBG"
  )
    #header-wrapper
      #header(
        class="container"
      )
        #menu(
          class="navbar-top"
        )
          .navBar
            .centerNav 
              ul
                li
                  a(
                    href="./"
                    title="Homepage"              
                  ) Homepage
                li(
                  class="current_page_item"
                )
                  a(
                    href="./search"
                    title="Search"
                  ) Search
                li
                  a(
                    href="./contact"
                    title="Contact"              
                  ) Contact
            if(isLoggedIn)
              include templates/spotifyUser.pug
        #searchForm 
          form(
            method="POST"
            action="/prod/search/submit-song-search"            
          )
            .form-group
              label(
                for="song" id="searchSongLabel"
              ) Song
              input.form-control(
                type="text"
                id="searchSongInputField"
                name="song"
                placeholder="Enter song name"
                required
              )
              label(
                for="artist" id="searchArtistLabel"
              ) Artist
              input.form-control(
                type="text"
                name="artist"
                placeholder="Enter artist"
                required
              )
              input(
                type="submit"
                class="btn btn-primary btn-lg"
                id="searchSubmitBtn"
              )
    include templates/copyright.pug
  include templates/modal.pug    
