doctype html
html
  head
    title Login
    include templates/resources.pug
  body(
    class="contentGreenBG"
  )
    #header-wrapper
      #header(
        class="container-fluid"
      )  
        #menu(
          class="navbar-top"
        )
          .navBar
              .centerNav
                  ul
                      li                    
                          a(
                              href="/"
                              title="Homepage"
                          ) Homepage
                      li
                          a(
                              href="/search"
                              title="Search"
                          ) Search
                      li
                          a(
                              href="/contact"
                              title="Contact Us"
                          ) Contact Us
              if(isLoggedIn)
                  include templates/spotifyUser.pug
          #logo
            p.pageMessageLG 404 Song Not Found
            p.pageMessageSM We were not able to find your song on SongLyrics.com or Genius.com
            a.btn(
              class="btn-primary btn-lg"
              type="button"
              href="/updateSong"
            ) Try Again  
    include templates/copyright.pug
  include templates/modal.pug