doctype html
html
  head
    title Login
    include templates/resources.pug
    link(
    rel="stylesheet"
    href="../css/template.css"
    )  
    link(
        rel="stylesheet"
        href="../css/stylesheet.css"
    )
  body(
    class="contentGreenBG"
  )
    #header-wrapper
      #header(
        class="container-fluid"
      )  
        #menu(
          class="navbar-top"
        )
          .navBar
              .centerNav
                  ul
                      li                      
                          a(
                              href="../"
                              title="Homepage"
                          ) Homepage
                      li(
                          class="current_page_item"
                      )                
                          a(
                              href="../search"
                              title="Search"
                          ) Search
                      li
                          a(
                              href="../contact"
                              title="Contact"
                          ) Contact
              if(isLoggedIn)
                include templates/spotifyUser.pug
          #logo
            h1.pageMessageLG 404 Song Not Found
            p.pageMessageSM We were not able to find your song on SongLyrics.com or Genius.com
            a.btn(
              class="btn-primary btn-lg"
              type="button"
              href="../search"
            ) Find A Different Song  
    include templates/copyright.pug
  include templates/modal.pug