doctype html
html 
  head
    title Lyrics.io
    include templates/resources.pug
    link(
    rel="stylesheet"
    href="../css/template.css"
    )
    link(
        rel="stylesheet"
        href="../css/fonts.css"
    )       
    link(
        rel="stylesheet"
        href="../css/stylesheet.css"
    )
  body(
    class="contentBlackBG"
  )
    header-wrapper
      #header(
        class="container-fluid"
      )  
        #menu(
          class="navbar-top"
        )
          .navBar
              .centerNav
                  ul
                      li                      
                          a(
                              href="../"
                              title="Homepage"
                          ) Homepage
                      li(
                          class="current_page_item"
                      )
                          a(
                              href="../search"
                              title="Search"
                          ) Search
                      li
                          a(
                              href="../contact"
                              title="Contact"
                          ) Contact
              if(isLoggedIn)
                include templates/spotifyUser.pug
    .container-fluid
      .row
        .col(
          class="song-details-top-bar"
        )
      .row(
        class="song-details-bg"
      )
        .col-12
          .card(
            class="song-details-card"
          )
            .row(
              class="no-gutters"
            )
              .col-4              
              .col-8
                .card-body(
                  class="song-details-text"
                )
                  h5.card-title(
                    class="song-details-text-song"
                  ) #{songName}
                  p.card-text(
                    class="song-details-text-artist"
                  ) #{artist} 
                  a.btn(
                    class="btn-primary"
                    type="button"
                    href="../search"
                  ) Find Another Song
      .row
        .col(
          class="song-details-bottom-bar"
        )
      .row(
        class="song-lyrics-div justify-content-center"
      )
        .col-4(
          class="song-lyrics-sidebar"
        )        
        .col-4(
          class="song-lyrics-content"
        )
          p.song-lyrics-header Lyrics  
          p.song-lyrics-text !{lyrics}   
        .col-4(
          class="song-lyrics-sidebar"
        )        
        #copyright(
          class="footerContent song-copyright container-fluid"
        )       
          p &copy; Lyric.io All rights reserved. | Created by 
              a(
              href="https://www.linkedin.com/in/leo-kodish-b83aa712b/"
              target="_blank"
              ) Leo Kodish | 
              span Design by 
              a(
              href="http://templated.co"
              rel="nofollow"
              target="_blank"
              ) TEMPLATED
  include templates/modal.pug    


