doctype html
html 
  head
    title Lyrics.io
    include templates/resources.pug
  body(
    class="contentBlackBG"
  )
    #header(
      class="container-fluid"
    )  
      #menu(
        class="navbar-top"
      )
        .navBar
            .centerNav
                ul
                    li                    
                        a(
                            href="/"
                            title="Homepage"
                        ) Homepage
                    li
                        a(
                            href="/search"
                            title="Search"
                        ) Search
                    li
                        a(
                            href="/contact"
                            title="Contact Us"
                        ) Contact Us
            include templates/spotifyUser.pug
    .container-fluid
      .row
        .col(
          class="song-details-top-bar"
        )
      .row(
        class="song-details-bg"
      )
        .col-12
          .card(
            class="song-details-card"
          )
            .row(
              class="no-gutters"
            )
              .col-2                
              .col-3
                img(
                  src=albumArtUrl
                  id="albumArt"
                  width="250rem"
                )
              .col-7
                .card-body(
                  class="song-details-text"
                )
                  h5.card-title(
                    class="song-details-text-song"
                  ) #{songName}
                  p.card-text(
                    class="song-details-text-artist"
                  ) #{artist}
                  p.card-text(
                    class="song-details-text-album"
                  ) Album: #{albumName}   
                  a.btn(
                    class="btn-primary"
                    type="button"
                    href="/updateSong"
                  ) Update Song
      .row
        .col(
          class="song-details-bottom-bar"
        )
      .row(
        class="song-lyrics-div justify-content-center"
      )
        .col-4(
          class="song-lyrics-sidebar"
        )        
        .col-4(
          class="song-lyrics-content"
        )
          p.song-lyrics-header Lyrics  
          p.song-lyrics-text !{lyrics}   
        .col-4(
          class="song-lyrics-sidebar"
        )            
        #copyright(
          class="footerContent song-copyright container-fluid"
        )       
          p &copy; Lyric.io All rights reserved. | Created by 
              a(
              href="https://www.linkedin.com/in/leo-kodish-b83aa712b/"
              target="_blank"
              ) Leo Kodish | 
              span Design by 
              a(
              href="http://templated.co"
              rel="nofollow"
              target="_blank"
              ) TEMPLATED
  include templates/modal.pug


