doctype html
html 
  head
    title Lyric.io
    link(
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    )
  body
    .container
      .row
        .card(
          class="mb-3"
        )
          .row(
            class="no-gutters"
          )
            .col-md-4
              img(
                src=albumArtUrl
                id="albumArt"
                class="img-fluid card-img"
                width="300"
              )
            .col-md-8
              .card-body
                h5.card-title Song: #{songName}
                p.card-text Artist: #{artist}
                p.card-text Album: #{albumName}   
      .row        
        .col
          p Lyrics: !{lyrics}                  


