doctype html
html 
  head
    title Lyric.io
    link(
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    )
  body
    .container
      .row
        .col
          img(
            src=albumArtUrl
            id="albumArt"
            class="img-fluid"
            width="300"
          )
        .col
          p Song: #{songName}
          p Artist: #{artist}
          p Album: #{albumName}    
          p Lyrics: !{lyrics}                  


