doctype html
html 
  head
    title Lyric.io
    link(
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    )
    style 
      include ../css/stylesheet.css
  body
    .container-fluid
      .row(
        class="song-details-bg"
      )
        .col-12
          .card(
            class="song-details-bg"
          )
            .row(
              class="no-gutters"
            )
              .col-3
              .col-3
                img(
                  src=albumArtUrl
                  id="albumArt"
                  width="100%"
                )
              .col-6
                .card-body(
                  class="song-details-text"
                )
                  h5.card-title(
                    class="song-details-text-song"
                  ) #{songName}
                  p.card-text #{artist}
                  p.card-text Album: #{albumName}   
      .row        
        .col
          p Lyrics: !{lyrics}                  


